
  <div class="d-flex row justify-content-around mx-0 my-3">
    <mat-card *ngFor="let product of products" class="text-center justify-content-center col-4" style="max-width: 250px;">
      <div>
          <img [src]="product.img" alt="{{ product.name }}" class="img-fluid rounded">
          <mat-card-title>
              {{product.name}}
          </mat-card-title>
          <mat-card-subtitle>
            &pound; {{product.price}}
          </mat-card-subtitle>
            <mat-card-footer class="d-flex justify-content-center my-2 align-items-center mx-1 foot" *ngIf="product.id === 'GR1'">
              <button type="button" mat-mini-fab color="primary" (click)="incrementAmount(product)" class="px-1">+</button>
              <input type="text" class="text-center" value="{{countGR1}}">
              <button type="button" mat-mini-fab color="primary" (click)="decrementAmount(product)" class="px-1" [disabled]="countGR1 < 2">-</button>
            </mat-card-footer>
            <mat-card-footer class="d-flex justify-content-center my-2 align-items-center mx-1 foot" *ngIf="product.id === 'SR1'">
              <button type="button" mat-mini-fab color="primary" (click)="incrementAmount(product)" class="px-1">+</button>
              <input type="text" class="text-center" value="{{countSR1}}">
              <button type="button" mat-mini-fab color="primary" (click)="decrementAmount(product)" class="px-1" [disabled]="countSR1 < 2">-</button>
            </mat-card-footer>
            <mat-card-footer class="d-flex justify-content-center my-2 align-items-center mx-1 foot" *ngIf="product.id === 'CF1'">
              <button type="button" mat-mini-fab color="primary" (click)="incrementAmount(product)" class="px-1">+</button>
              <input type="text" class="text-center" value="{{countCF1}}">
              <button type="button" mat-mini-fab color="primary" (click)="decrementAmount(product)" class="px-1" [disabled]="countCF1 < 2">-</button>
            </mat-card-footer>
            
          <button type="button" mat-stroked-button (click)="addToCart(product)">Add to cart</button>
          <br />
          <button type="button" mat-raised-button color="accent" (click)="specialOffer(product)" class="mt-2">Add {{product.ms}}</button>
        
      </div>
    </mat-card>
  </div>

  <div *ngIf = "addedProducts.length === 0; else fullCart" class="row justify-content-center my-5 mx-auto l-div">
        Basket is empty, please add a product
  </div>

  <ng-template #fullCart >
    <div class="row justify-content-center my-5 mx-auto l-div">
      <p>
        Basket:
    </p>
    </div>
  </ng-template>
  
  

    <mat-card *ngFor="let addedProduct of addedProducts" class="row text-center justify-content-center mx-auto mb-2 matirial-card">
      
          <div class="d-flex justify-content-between">
            <img [src]="addedProduct.img" alt="{{ addedProduct.name }}" class="img-fluid rounded" style="max-width: 250px;">
            <div class="d-flex flex-column justify-content-center container-fluid">
              <p>
                  {{addedProduct.name}}
              </p>
              <p>
                &pound; {{addedProduct.totalPrice.toFixed(2)}}
              </p>
              <p>
                {{addedProduct.amount}}
                </p>
            </div>
            <button type="button" mat-stroked-button color="warn" (click)="deleteProduct(addedProduct)" class="d-flex justify-content-center px-4 my-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" fill="red"/>
                <path d="M0 0h24v24H0z" fill="none"/></svg>Delete
            </button>
          </div>
    </mat-card>
